/* DISEÑO BANNER */

.contenedor{
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.contenedor img{
  width: 4000px;
  height: 80px;
  transform: translate(-100px);
}

.contenedor h1{
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

/*ARROZ CON BACALAO DISEÑO*/

#bacalaotexto {
  color: white;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

#explicacion {
  color: white;
  transform: translate(610px, -223px);
  max-width: 500px;
}

#imagenbacalao {
  height: auto;
  width: 300px;
  transform: translate(300px);
}

#grupobacalao {
  margin-bottom: -150px;
}

/*CALDERETA DE CERDO DISEÑO */

#imagencaldereta {
  height: auto;
  width: 300px;
  transform: translate(300px);
}

#calderetatexto {
  color: white;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

#explicacioncaldereta {
  color: white;
  transform: translate(610px, -195px);
  max-width: 500px;
}

#grupocaldereta {
  margin-bottom: -50px;
}

/*CHAFAINA DE CORDERO DISEÑO*/

#chafainatexto {
  color: white;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

#explicacionchafaina {
  color: white;
  transform: translate(610px, -256px);
  max-width: 500px;
}

#imagenchafaina {
  height: auto;
  width: 300px;
  transform: translate(300px);
}

#grupochafaina {
  margin-bottom: -100px;
}

/*CONEJO AL AJILLO DISEÑO*/

#conejotexto {
  color: white;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

#imagenconejo {
  height: auto;
  width: 300px;
  transform: translate(300px);
}

#explicacionconejo {
  color: white;
  transform: translate(610px, -215px);
  max-width: 500px;
}



/* DISEÑO WEB ARROZ CON BACALAO */

#botondeinicio {
  width: 200px;
  height: 90px;
}