.contenedor{
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.contenedor img{
  width: 4000px;
  height: 80px;
  transform: translate(-100px);
}

.contenedor h1{
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

#bacalaotexto {
  color: white;
  font-size: 30px;
  text-align: center;
}

#explicacion {
  color: white;
  transform: translate(610px, -223px);
  max-width: 500px;
}

#imagenbacalao {
  height: auto;
  width: 300px;
  transform: translate(300px);
}